/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
* {position:relative;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box; 
box-sizing:border-box;
}

body {
	font-family: 'Wendy One', sans-serif;
}

#cube{
	position: relative;
	height: 500px;
	width: 500px;
	-webkit-transition: -webkit-transform 2s ease;
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: 50% 50%;

	-moz-transition: -moz-transform 2s ease;
	-moz-transform-style: preserve-3d;
	-moz-transform-origin: 50% 50%;

}

#experiment {
	webkit-perspective: 800px;
	webkit-perspective-origin: 50% 50%;
	-moz-perspective: 800px; 
	-moz-perspective-origin: 50% 50%;
	margin: auto;
}

.face{
	position: absolute;
	height: 500px;
	width: 500px;
	line-height: 1em;
	border: 1px solid #555;
	border-radius: 3px;
	background-color: rgba(20, 20, 20, .95);
	color: white;

	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: 50% 50%;

	-moz-transform-style: preserve-3d;
	-moz-transform-origin: 50% 50%;

}

h1 {
	text-align: center;
	padding: 15px;
}

.main-navigation {
	background-color: #000;
	color: #fff;
	text-align: center;
}

.main-navigation a {
	display: block;
	line-height: 36px;
	width: 150px;
	border-radius: 3px;
	color: inherit;
	margin: 3px;
	font-size: 15pt;
} .main-navigation a:hover {
	background: #5112C5;
	color: white;
}

.main-navigation li {
	display: inline-block;
	float: center;
	border-right: 1px solid #ddd;
	color: black;
} .main-navigation li:last-child {
	border-right: none;
} .main-navigation:hover li {
	color: transparent;
	text-shadow: 0 0 3px rgba(0,0,0,.5);
} .main-navigation li:hover {
	color: white;
}

.main-navigation ul {
	background: -moz-linear-gradient(top, #fff 0%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top, #fff 0%, #ddd 100%);
	background: -o-linear-gradient(top, #fff 0%, #ddd 100%);
	background: -ms-linear-gradient(top, #fff 0%, #ddd 100%);
	background: linear-gradient(top, #fff 0%, #ddd 100%);
	padding: 0px;
	zoom: 1;
	overflow: hidden;
}

nav {
	width: 100%;
}

nav a {
	color: inherit;
	text-decoration: none;
}

nav a.selected {
	background: black;
	color: white;
}

p {
	text-align: center;
	margin: 100px 10%;
}