/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
* {
	position:relative;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box; 
	box-sizing:border-box;
}

body {
	font-family: 'Wendy One', sans-serif;
}

a.link {
	position: absolute;
	background-color: #5112C5;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;
	padding: 10px;
	font-size: 18pt;
} a.link:hover {
	color: #5112C5;
	background-color: #fff;
} a.link.four {
	position: static;
	display: block;
	margin: 10px;
}

#cube{
	position: relative;
	height: 960px;
	width: 960px;
	-webkit-transition: -webkit-transform 2s ease;
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: 50% 50%;

	-moz-transition: -moz-transform 2s ease;
	-moz-transform-style: preserve-3d;
	-moz-transform-origin: 50% 50%;
}

div#blog-sample {
	padding: 100px 0px 0px 0px;
} div#blog-sample #blog-title {
	display: inline-block;
	text-decoration: none;
	font-size: 22pt;
	color: white;
	padding: 20px;
	margin: 30px 0px 0px 50px;
	border-radius: 3px;
	width: auto;
	line-height: 30px;
} div#blog-sample #blog-title:hover {
	color: #5112C5;
	background-color: #fff;
} div#blog-sample p {
	text-indent:50px;
	padding: 20px 75px;
	text-align: justify;
} div#blog-sample #content-wrapper {
	width: 730px;
	height: 300px;
	overflow: hidden;
} div#blog-sample #ellipsis {
	text-align: left;
	width: 645px;
	margin: 0px 0px 0px 75px;
}

#experiment {
	-webkit-perspective: 10000;
	-webkit-perspective-origin: 50% 50%;
	-moz-perspective: 10000; 
	-moz-perspective-origin: 50% 50%;
	margin: auto;
	z-index: 0;
}

.face{
	position: absolute;
	height: 960px;
	width: 960px;
	line-height: 1em;
	border: 1px solid #ddd;
	border-radius: 3px;
	background-color: rgba(0,0,0,.9);
	overflow: none;
	color: white;
	letter-spacing: 1px;
	line-height: 20px;
	font-family: 'Nunito', sans-serif;

	-webkit-transition: -webkit-transform 2s ease;
	-moz-transition: -moz-transform 2s ease;
}

h1 {

} h1.title {
	position: absolute;
	text-align: left;
	padding: 50px 0px 30px 10px;
	width: 100%;
	color: white;
	border-radius: 3px;
	background-color: rgba(0,0,0,.3);
	border: 1px solid #ddd;
	line-height:20px;
	font-size: 100px;
	letter-spacing: 15px;
	-webkit-transition: -webkit-transform 2s ease;
	-moz-transition: -moz-transform 2s ease;
} h1#error {
	color: #ddd;
	font-size: 400px;
	float: left;
	z-index: -1;
	width: 1000px;
	text-align: right;
	font-family: "Courier New";
	letter-spacing: -150px;
	overflow: hidden;
	display: inline-block;
	padding: 0 200px 0 0;
}

iframe {

} iframe.media.three {
	position: absolute;
	margin:150px 48px 50px 48px;
	border-radius: 3px;
	border: 1px solid #ddd;
	-webkit-transition: -webkit-transform 2s ease;
	-moz-transition: -moz-transform 2s ease;
}

img {

} img.media.one {
	position: fixed;
	right: 0px;
	margin: 180px 70px 180px 0px; 
	height: 364px;
	width: 304px;
	color: white;
	border-radius: 3px;
	border: 1px solid #ddd;
	line-height:20px;
	font-size: 100px;
	letter-spacing: 15px;
	-webkit-transition: -webkit-transform 2s ease;
	-moz-transition: -moz-transform 2s ease;
}

#link-two-wrapper {
	-webkit-transition: -webkit-transform 2s ease;
	-moz-transition: -moz-transform 2s ease;
}

#link-four-wrapper {
	-webkit-transition: -webkit-transform 2s ease;
	-moz-transition: -moz-transform 2s ease;
	border-radius: 3px;
	background-color: rgba(0,0,0,.5);
	border: 1px solid #ddd;
}

.main-navigation {
	color: #fff;
	text-align: center;
	z-index: 1;
}

.main-navigation a {
	display: block;
	line-height: 36px;
	width: 150px;
	border-radius: 3px;
	color: inherit;
	margin: 3px;
	font-size: 15pt;
	background-color: rgba(1,1,1,0);
} .main-navigation a:hover {
	background: #5112C5;
	color: white;
}

.main-navigation li {
	display: inline-block;
	float: center;
	border-right: 1px solid #ddd;
	color: #333;
} .main-navigation li:last-child {
	border-right: none;
} .main-navigation:hover li {
	color: transparent;
	text-shadow: 0 0 3px rgba(0,0,0,.5);
} .main-navigation li:hover {
	color: white;
}

.main-navigation ul {
	background: -moz-linear-gradient(top, #fff 0%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top, #fff 0%, #ddd 100%);
	background: -o-linear-gradient(top, #fff 0%, #ddd 100%);
	background: -ms-linear-gradient(top, #fff 0%, #ddd 100%);
	background: linear-gradient(top, #fff 0%, #ddd 100%);
	padding: 3px 0px 0px 0px;
	zoom: 1;
	overflow: hidden;
}

nav {
	width: 100%;
}

nav a {
	text-decoration: none;
}

nav a.selected {
	background: #333;
	color: white;
}

p {
	float: left;
} p.one {
	text-align: right;
	margin: 180px 0px 0px 50px;
	width: 300px;
	height: 364px;
	line-height: 19px;
} p.four {
	margin: 100px auto;

} p#advice {
	margin: 100px;
	font-size: 50px;
	float: right;
}